.nav {
  grid-area: n;
  background-color: burlywood;
  margin: 0 5px 0 5px;
  padding: 20px;
}

.item a {
  color: #FFFFFF;
  text-decoration: none;
}

.item a.active {
  color: gold;
}

.friendsTitle {
  margin: 10px 0 10px 0;
  font-weight: 700;
}

.friendsAvatar {
  border-radius: 50%;
  margin-bottom: 10px;
}
